**/obj
**/bin
**/node_modules
**/charts
**/.vs
**/.vscode
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/docker-compose*
**/compose*
**/Dockerfile*
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
README.md

